body {
    margin: 0 auto;
    padding: 0;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}

#app {
    margin: 0 auto;
    padding: 0;
}

.header {
    color: aliceblue;
    display: flex;
    background-color: rgba(46, 134, 171, 1);
    height: 5em;
    justify-content: flex-start;
    padding: 0.5em;
}

.header .header-logocontent {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 0 0 0 2em;
}

.header .header-logoimage {
    background-image: url('/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 50px;
    width: 120px;
}

.header .header-center {
    justify-content: center;
    display: flex;
    flex: 1;
    align-items: center;
}

.header .header-cart {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.header .header-cartimage {
    background-image: url('/cart.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 50px;
    width: 120px;
    cursor: pointer;
}

.header .header-cart-count {
    right: 17px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
    position: absolute;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.products .products-item{
    width: 35em;
    background: #f3f1ed;
    margin: 0.5em;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1em;
}

.products .products-item .title{
    text-align: center;
}

.products .products-item .thumbs{
    width: 15em;
}

.products .products-action{
    display: flex;
}

.products .products-action *{
    margin: 0.5em;
}

.cart {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1em;
}

.cart .cart-linkback {
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;  
}

.cart .cart-linkback::before {
    content: " < ";
}

.cart .cart-items {
    display: flex;
    list-style: none;
    flex-direction: column;
    width: 45em;
}

.cart .cart-item {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-between
}

.cart .cart-item-detail {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
    width: 13em;
}